<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<div class="container" layout:fragment="content">
  <div class="row">
    <div class="col-md-8 mx-auto rounded border p-4 m-4">
      <h2 class="text-center mb-5">Edit Employee</h2>
      <form method="post" th:object="${employeeResponseDto}">

        <div class="row mb-3">
          <label for="employeeId" class="col-sm-4 col-form-label">First Name</label>
          <div class="col-sm-8">
            <input readonly class="form-control-plaintext" type="text" id="employeeId"
                   th:value="${employeeResponseDto.employeeId}">
          </div>
        </div>

        <div class="row mb-3">
          <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="firstName"
                   th:field="${employeeResponseDto.firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="text-danger"
               th:errors="${employeeResponseDto.firstName}">First Name Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="lastName" th:field="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="text-danger"
               th:errors="*{lastName}">Last Name Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="dateOfBirth" class="col-sm-4 col-form-label">Date of Birth</label>
          <div class="col-sm-8">
            <input class="form-control" type="date" id="dateOfBirth" th:field="*{dateOfBirth}">
            <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errorclass="text-danger"
               th:errors="*{dateOfBirth}">Date of Birth Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="emailAddress" class="col-sm-4 col-form-label">Email Address</label>
          <div class="col-sm-8">
            <input class="form-control" type="email" id="emailAddress" th:field="*{emailAddress}">
            <p th:if="${#fields.hasErrors('emailAddress')}" th:errorclass="text-danger"
               th:errors="*{emailAddress}">Email Address Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="phoneNumber" th:field="*{phoneNumber}">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="text-danger"
               th:errors="*{phoneNumber}">Phone Number Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="department" class="col-sm-4 col-form-label">Department</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="department"
                   th:field="${employeeResponseDto.department.departmentName}">
            <p th:if="${#fields.hasErrors('department.departmentName')}" th:errorclass="text-danger"
               th:errors="${employeeResponseDto.department.departmentName}">Department Error</p>
          </div>
        </div>

        <h2>Address</h2>

        <div class="row mb-3">
          <label for="addressLine1" class="col-sm-4 col-form-label">Address Line 1</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="addressLine1"
                   th:field="*{addresses[0].addressLine1}">
            <p th:if="${#fields.hasErrors('addresses[0].addressLine1')}" th:errorclass="text-danger"
               th:errors="*{addresses[0].addressLine1}">Address Line 1 Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="addressLine2" class="col-sm-4 col-form-label">Address Line 2</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="addressLine2"
                   th:field="*{addresses[0].addressLine2}">
            <p th:if="${#fields.hasErrors('addresses[0].addressLine2')}" th:errorclass="text-danger"
               th:errors="*{addresses[0].addressLine2}">Address Line 2 Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="country" class="col-sm-4 col-form-label">Country</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="country"
                   th:field="*{addresses[0].country}">
            <p th:if="${#fields.hasErrors('addresses[0].country')}" th:errorclass="text-danger"
               th:errors="*{addresses[0].country}">Country Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="city" class="col-sm-4 col-form-label">City</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="city" th:field="*{addresses[0].city}">
            <p th:if="${#fields.hasErrors('addresses[0].city')}" th:errorclass="text-danger"
               th:errors="*{addresses[0].city}">City Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="state" class="col-sm-4 col-form-label">State</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="state" th:field="*{addresses[0].state}">
            <p th:if="${#fields.hasErrors('addresses[0].state')}" th:errorclass="text-danger"
               th:errors="*{addresses[0].state}">State Error</p>
          </div>
        </div>

        <div class="row mb-3">
          <label for="postalBox" class="col-sm-4 col-form-label">Postal Box</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" id="postalBox"
                   th:field="*{addresses[0].postalBox}">
            <p th:if="${#fields.hasErrors('addresses[0].postalBox')}" th:errorclass="text-danger"
               th:errors="*{addresses[0].postalBox}">Postal Box Error</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 offset-sm-4 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col-sm-4 d-grid">
            <a href="/employees" class="btn btn-secondary" role="button">Cancel</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

</body>
</html>